.brandPage{
    .brandContent{
        display: flex;
        justify-content: flex-start;
        margin: 5vh 10vh;
        .brandDescription {
            text-align: start;
          margin-left: 100px;
          .brand{
            color: var(--grey);
            font-family: var(--font-inter);
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
          .brandName {
            color: var(--main-text-color);
            font-family: Inter;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
            text-transform: uppercase;
            h2{
                margin: 0;
            }

          }
          .brandItems {
            .item{
                display: inline-block;
                span{
                    padding-left: 12px;
                    color: var(--grey);
                    font-family: var(--font-inter);
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
            .location{
                margin: 0 30px;
            }
            
          }
          .brandMessage{
            color: var(--main-text-color);
            font-family: var(--font-inter);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32.091px; /* 160.457% */
            opacity: 0.6;
            margin: 20px 0 ;
          }
          

            .defaultBtn{
                background-image: url('../../assets/images/globeWhite.png');
                background-repeat: no-repeat;
                background-position: 10% 50%;
                display: inline-block;
                // margin: 0 0 0 40px;
                margin-left: 0;
                padding: 11px 19px 11px 39px;       
                width: fit-content;
            }

          
        }
    }
  
    
    
}

