@media screen and (max-width: 768px) {
    .choiceMethod {
        margin: 28px 15px 34px;
    }

    .contGoogle {
        width: -webkit-fill-available;
        margin: 0 auto;
    }

    .enterEmailPass {
        margin-bottom: 16px;

        input {
            width: -webkit-fill-available;
        }
    }
    .defaultBtn {
        width: -webkit-fill-available;
    }
}
