.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(190, 190, 190, 0.8);
    z-index: 2;
    top: 0;

    .modal-wrapper{
        // width: 397px;
        width: 470px;
        height: 651px;
        background: var(--white);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
        display: inherit;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        padding: 0 105px;

        .backBtn{
            position: absolute;

            top: 2vh;
            left: 3vh;
            cursor: pointer;
            span{
                padding-left: 10px;
                color: var(--grey);
                font-family: var(--font-inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
        .closeBtn{
            position: absolute;
            top: 1.9vh;
            right: 2.3vh;
            cursor: pointer;
        }
        .modalTitle{
            padding: 56px 0 49px;
            h2{
                color: var(--main-text-color);
                font-family: var(--font-inter);
                font-size: 52.148px;
                font-style: normal;
                font-weight: 500;
                line-height: 46.176px; /* 88.549% */
                text-transform: uppercase;
            }
        }
        .modalTitleDescription {
            padding-bottom: 30px;
            span{
                color: var(--grey);
                text-align: center;
                font-family: var(--font-inter);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px; /* 107.143% */
            }

        }
        .modalDescription{
            span{
                color: var(--grey);
                text-align: center;
                font-family: var(--font-inter);
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px; /* 107.143% */
            }
            .descriptionLink{
                display: inline-block;
                color: var(--main-text-color);
                text-align: center;
                font-family: var(--font-inter);
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px;
                margin-left: 5px;
                border-bottom: 1px solid var(--main-text-color);
                cursor: pointer
            }
        }

    }
}



@import './SelectPlanModal/SelectPlanModal.scss';
@import './SupportModal/SupportModal.scss';
@import './MediaAllModal.scss'