.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(190, 190, 190, 0.8);
    z-index: 1;
    top: 0;
    
    .modal-wrapper{
        // width: 397px;
        width: 430px;
        height: 651px;
        background: var(--white);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
        display: inherit;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        padding: 0 105px;
      
        .backBtn{
            position: absolute;
            top: 1.7vh;
            left: 2vh;
            cursor: pointer;
            span{
                padding-left: 13px;
                color: var(--Grey, #9E9E9E);
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
        .closeBtn{
            position: absolute;
            top: 1.5vh;
            right: 1.7vh;
            cursor: pointer;
        }
        .modalTitle{
            padding: 56px 0 51px;
            h2{
                color: var(--Main-dark, #141414);
                font-family: Inter;
                font-size: 52.148px;
                font-style: normal;
                font-weight: 500;
                line-height: 46.176px; /* 88.549% */
                text-transform: uppercase;
            }
        }
        .modalTitleDescription {
            padding-bottom: 30px;
            span{
                color: var(--grey);
                text-align: center;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px; /* 107.143% */
            }
          }

    }
}