@media screen and (max-width: 768px) {
    .modal {
        .modal-wrapper {
            justify-content: center;
            padding: 68px 20px;
            height: -webkit-fill-available;
            width: 100%;
            display: block;

            .backBtn {
                top: 22px;
                left: 20px;
                width: 20px;

                span {
                    display: none;
                }
            }
            .closeBtn {
                top: 21px;
                right: 22px;
            }
            .modalTitle {
                padding: 56px 0 29px;
                h2 {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 40px;
                    text-transform: initial;
                }
            }
        }
    }
}
