.analyticsPage {
	padding: 41px 50px 30px;
	text-align: left;
	height: calc(100vh - 71px);
	overflow: hidden;
	display: grid;
	grid-template-rows: 78px 116px 1fr;

	.analyticsPageWrapper {
		height: 100%;
    overflow: auto;
	}

  h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-bottom: 40px;
  }
}