@media screen and (max-width: 768px) {
    .unlog-footer {
        padding-bottom: 100px;
        .content-wrapper {
            padding: 0 15px;
            .unlog-title {
                h3 {
                    font-size: 22px;
                    padding: 0 clamp(28px, 7vw, 90px);
                }
            }
        }
    }
}
