@media screen and (max-width: 768px) {
    .unlog-footer{
        margin-bottom: 10vh;
        .content-wrapper{
            padding: 0 15px;
            .unlog-title {
                h3{
                    font-size: 22px;
                    padding: 0 clamp(28px, 7vw, 90px);
                }
            }
            .contGoogle{
                position: relative;
                top: 20px;
            }
            .choiceMethod{
                top: 20px;
            }
            .enterEmailPass{
                position: relative;
                bottom: 9px;
                margin-bottom: 5px;
            }
            .unlog-description{
                top: 5px;
            }

        }
    }
}