.unlog-footer{
    padding: 22px 0 150px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        width: 100%;
        height: 456px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        filter: blur(17px);
        left: 0;
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 0;
        max-width: 360px;
        margin: 0 auto;
        .unlog-title {
            width: 100%;
            color: var(--main-text-color);
            text-align: center;
            font-family: var(--font-inter);
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 40px;
        }
        .contGoogle {
            width: 100%;
            max-width: calc(100% - 38px);
        }
        .choiceMethod{
            width: 100%;
            margin: 20px 0 20px;
        }
        .enterEmailPass {
            width: 100%;
            input {
                width: 100%;
                max-width: calc(100% - 38px);
            }
        }
        .defaultBtn {
            width: 100%;
            max-width: calc(100% - 22px);
            margin: 4px 0 35px;
        }
        .email-title {
            width: 100%;
            text-align: start;
            margin-bottom: 9px;
        }
        .unlog-description {
            width: 100%;
            color: var(--grey);
            text-align: center;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            max-width: 317px;
            a{
                color: var(--main-text-color);
                font-family: var(--font-inter);
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: 15px;
                // border-bottom: none;
                text-decoration: none;
            }
        }


    }

}
.unlog-brand-footer {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    .signUp{
        .defaultBtn{
            width: fit-content;
            margin: 0 20px 0 0;
        }
    }
    .logIn{
        .defaultBtn{
            width: fit-content;
            border-radius: 50px;
            border: 1px solid var(--border-color);
            background: var(--white);
            color: var(--main-text-color);
            margin: 0;
        }
    }

}

@import './MediaUnlogFooter.scss'