.signIn {
    .modal-wrapper {
        height: 630px;
    }
    .choiceMethod {
        margin: 20px 15px 18px;
    }
    .enterEmailPass {
        margin-bottom: 19px;
    }
    .defaultBtn {
        margin: 0 auto 28px;
        padding: 11px;
    }
}
