@media screen and (max-width: 768px) {
    .creatorPage {
        // .modal-wrapper {
        .creatorContent {
            flex-direction: column;
            padding: 20px 0;
            align-items: center;
            .creatorAvatar {
                // margin-bottom: 10px;
                img{
                    width: 150px; //60vw;

                }
            }
            .creatorDescription {
                margin: 0;
                padding-bottom: 29px;
                border-bottom: 1px solid #EBEBED;
                .creatorName{
                    justify-content: center;
                    margin-bottom: 10px;
                    h2{
                        font-size: 20px;
                        margin: 25px 0 0;
                    }
                    .defaultBtn{
                        display: none;
                    }
                }
                .creatorItems {
                    text-align: center;
                    border-bottom: 1px solid var(--border-color);
                    padding-bottom: 12px;
                    margin-bottom: 0;

                    .item {
                    padding: 10px 0;
                    width: fit-content;
                    display: inline-flex;
                    text-align: center;
                    justify-content: center;
                    align-items: baseline;
                    margin: 0 11px;

                    img{
                        width: 14px;
                    }
                    span{
                        padding-left: 10px;
                        font-size: 14px;
                    }
                    }
                    .location {
                    margin: 0 10px 0 0;
                    }
                    .media{
                    margin: 0 5px 0 0px;
                    }
                }
                .creatorMessage {
                    text-align: center;
                    line-height: 29px;
                    margin: 30px 0 31px;
                    letter-spacing: 0.32px;

                    p{
                    font-size: 16px;
                    }
                }
                .socials {
                    justify-content: space-between;
                    margin-bottom: 30px;

                    .imgWrapper {
                        margin: 0 17px;
                    }

                    .defaultBtn{
                    display: none;
                    }
                }
                .mobileBtn {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    .uploadBtn {
                        .defaultBtn{
                            margin: 0;
                        }
                    }
                    .editBtn {
                    .defaultBtn{
                        margin: 0;
                        background-color: transparent;
                        color: var(--main-text-color);
                        border: 1px solid var(--border-color);
                    }
                    }
                }


            }

        // }.

        }
        .swiper{
            display: none;
        }

    }
}