@media screen and (max-width: 1024px) {
  .main-page {
    margin-bottom: 0;
    &-banner {
      &-title {
        margin-bottom: 20px;
      }

      &-socials {
        &::before {
          left: -34px;
          top: 50px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="35" height="42" viewBox="0 0 35 42" fill="none"><path opacity="0.43" d="M33.4191 1.34934C33.5023 1.02857 33.8297 0.835959 34.1505 0.91912C34.4713 1.00228 34.6639 1.32973 34.5807 1.6505L33.4191 1.34934ZM5.42419 40.9244C5.18988 41.1587 4.80998 41.1587 4.57566 40.9244L0.757288 37.106C0.522971 36.8717 0.522973 36.4918 0.757288 36.2575C0.991601 36.0232 1.3715 36.0232 1.60582 36.2575L4.99993 39.6516L8.39404 36.2575C8.62836 36.0232 9.00825 36.0232 9.24257 36.2575C9.47688 36.4918 9.47688 36.8717 9.24257 37.106L5.42419 40.9244ZM34.5807 1.6505C32.8088 8.48524 30.0796 13.2569 26.9689 16.8461C23.8636 20.4292 20.397 22.8107 17.2009 24.8789C13.9787 26.9638 11.0966 28.6952 8.99089 31.013C6.92164 33.2906 5.59993 36.1459 5.59993 40.5001L4.39993 40.5001C4.39993 35.8544 5.82821 32.7096 8.1027 30.2061C10.3408 27.7426 13.3961 25.9115 16.549 23.8714C19.7278 21.8145 23.0737 19.5084 26.0621 16.0602C29.0452 12.6182 31.6911 8.01472 33.4191 1.34934L34.5807 1.6505Z" fill="%239E9E9E"/></svg>');
        }
      }

      &-brands {
        color: var(--main-text-color);
        position: static;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        transform: none;
        top: 0;
        left: 0;

        br {
          display: none;
        }
      }

      &-videos {
        top: auto;
        left: auto;
        right: 40px;
        bottom: 20px;

        &::before {
          width: 47px;
          height: 26px;
          left: -62px;
          top: -19px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="18" viewBox="0 0 30 18" fill="none"><path opacity="0.43" d="M29.5203 16.5317C29.7789 16.8191 29.7556 17.2617 29.4683 17.5203C29.1809 17.7789 28.7383 17.7556 28.4797 17.4683L29.5203 16.5317ZM1.31505 0.855606C1.3948 0.477322 1.76611 0.235308 2.14439 0.315054L8.3089 1.6146C8.68719 1.69435 8.9292 2.06565 8.84946 2.44394C8.76971 2.82222 8.3984 3.06424 8.02012 2.98449L2.54055 1.82934L1.3854 7.3089C1.30565 7.68719 0.934346 7.9292 0.556061 7.84946C0.177776 7.76971 -0.0642369 7.3984 0.0155096 7.02012L1.31505 0.855606ZM28.4797 17.4683C26.3118 15.0595 24.2902 13.9293 22.3145 13.3109C20.2838 12.6752 18.3379 12.578 16.1238 12.2395C13.9443 11.9063 11.6479 11.3468 9.19216 9.7672C6.74456 8.19282 4.18634 5.63633 1.41357 1.38223L2.58643 0.617773C5.28652 4.76038 7.71473 7.15225 9.94954 8.58975C12.1762 10.022 14.2582 10.538 16.3354 10.8556C18.3782 11.1679 20.5675 11.297 22.7327 11.9748C24.953 12.6698 27.1882 13.9405 29.5203 16.5317L28.4797 17.4683Z" fill="%239E9E9E"/></svg>');
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main-page {
    &-banner {
      padding: 66px 0 91px;
      &-title {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 33.649px;
        text-transform: uppercase;
        margin-bottom: 23px;

        &__second-line {
          font-size: 40px;
          font-style: normal;
          font-weight: 500;
          line-height: 33.649px;
          text-transform: uppercase;
          margin: 0;
        }

        &__third-line {
          font-size: 40px;
          font-style: normal;
          font-weight: 500;
          line-height: 33.649px;
          text-transform: uppercase;
          margin: 0;
        }
      }

      &-socials {
        top: 32px;
        left: 97px;
        font-size: 21.398px;
        font-style: normal;
        font-weight: 400;

        &::before {
          width: 46px;
          height: 39px;
          left: 108px;
          top: 39px;
        }
      }

      &-brands {
        color: var(--main-text-color);
        position: static;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        transform: none;
        top: 0;
        left: 0;
      }

      &-videos {
        font-size: 19.046px;
        right: 4px;
        bottom: 55px;
        transform: rotate(-10deg);

        &::before {
          width: 37px;
          height: 26px;
          left: 27px;
          top: -32px;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="18" viewBox="0 0 30 18" fill="none"><path opacity="0.43" d="M29.5203 16.5317C29.7789 16.8191 29.7556 17.2617 29.4683 17.5203C29.1809 17.7789 28.7383 17.7556 28.4797 17.4683L29.5203 16.5317ZM1.31505 0.855606C1.3948 0.477322 1.76611 0.235308 2.14439 0.315054L8.3089 1.6146C8.68719 1.69435 8.9292 2.06565 8.84946 2.44394C8.76971 2.82222 8.3984 3.06424 8.02012 2.98449L2.54055 1.82934L1.3854 7.3089C1.30565 7.68719 0.934346 7.9292 0.556061 7.84946C0.177776 7.76971 -0.0642369 7.3984 0.0155096 7.02012L1.31505 0.855606ZM28.4797 17.4683C26.3118 15.0595 24.2902 13.9293 22.3145 13.3109C20.2838 12.6752 18.3379 12.578 16.1238 12.2395C13.9443 11.9063 11.6479 11.3468 9.19216 9.7672C6.74456 8.19282 4.18634 5.63633 1.41357 1.38223L2.58643 0.617773C5.28652 4.76038 7.71473 7.15225 9.94954 8.58975C12.1762 10.022 14.2582 10.538 16.3354 10.8556C18.3782 11.1679 20.5675 11.297 22.7327 11.9748C24.953 12.6698 27.1882 13.9405 29.5203 16.5317L28.4797 17.4683Z" fill="%239E9E9E"/></svg>');
        }
      }
    }
  }
}