.modalDescription {
    margin-bottom: 80px;

    span {
        color: var(--grey);
        text-align: center;
        font-family: var(--font-inter);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px; /* 136.364% */
    }
    a {
        color: var(--main-text-color);
        font-family: var(--font-inter);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        text-decoration-line: none;
        margin-left: 5px;
        padding-bottom: 0;
        border-bottom: 1px solid var(--Main-dark);
    }
}
.login {
    .defaultBtn {
        margin: 6px auto 28px;
    }
}
