.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 160px 1fr;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  color: white;
  .pageMenu {
    text-align: start;
    flex-grow: 1;
    flex-shrink: 1;
    .Page-Name{
      
      color: #141414;
      text-align: center;
      text-decoration: none;
      font-family: --font-inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
  .Title-Page{
    
    flex-grow: 0;
    flex-shrink: 0;
    color: #141414;
    text-align: center;
    font-family: --font-inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .login-menu {
    text-align: end;
    flex-grow: 1;
    flex-shrink: 1;

    button{
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    .log-btn{
      color: #141414;
      font-family: --font-inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-right: 1px solid #9E9E9E !important;
      padding: 1px 24px 10px 0;

      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s;
    }
    .log-btn:hover{
      background-size: 70% 2px;
    }
    .sign-btn{
      padding: 11px 19px;
      background-color: #141414;
      border-radius: 50px;
      margin: 0 24px;
      color: #FFF;
      text-align: center;
      font-family: --font-inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      
    }
    .sign-btn:hover{
      background-color: #595959;
    }
  }
}