.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 160px 1fr;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  color: white;
  .pageMenu {
    text-align: start;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 20px;
    .Page-Name{
      display: inline-block;
      color: var(--main-text-color);
      text-align: center;
      text-decoration: none;
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-right: 68px;
      cursor: pointer;
    }
  }
  .Title-Page{

    flex-grow: 0;
    flex-shrink: 0;
    color: var(--main-text-color);
    text-align: center;
    font-family: inherit;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .login-menu {
    text-align: end;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;

    button{
      border: none;
      background-color: transparent;
      cursor: pointer;
      padding: 11px 19px;
      img{
        // position: absolute;
        // background: var(--main-text-color);
        // left: 100%;
        // top: 50%;
        // transform: translate(-30%, -50%);
        // padding: 4px 11px 4px 0;
        // border-radius: 50px;

        // border-bottom-left-radius: 0;
        // border-top-left-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-25%, 13%);


      }


    }
    .vLine{
      margin: 0;
      height: 25px;
      position: absolute;
      bottom: 5px;
    }
    .log-btn{
      color: var(--main-text-color);
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      // padding: 1px 24px 10px 0;
      padding-left: 0;
      padding-right: 0;
      margin: 0 25px;


      text-decoration: none;
      background-image: linear-gradient(currentColor, currentColor);
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s;
    }
    .log-btn:hover{
      background-size: 70% 2px;
    }
    .sign-btn,
    .user-profileBtn{
      background-color: var(--main-text-color);
      border-radius: 50px;
      color: #FFF;
      text-align: center;
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-left: 26px;

    }
    .sign-btn:hover{
      background-color: #595959;
    }
    .user-profileBtn{
      // border-top-right-radius: 0;
      // border-bottom-right-radius: 0;
      width: 131px;
      font-size: 12px;
      padding: 13px 4px 13px 17px;
      position: relative;
      text-align: start;
    }
  }
}