@media screen and (max-width: 1200px) {
    .App-header{
        margin: 0 3vw;
    }
}


@media screen and (max-width: 768px) {
    .App-header {
        display: flex;
        padding-top: 2vh;
        .pageMenu{
            display: none;
            
        }
        .Title-Page{
            // font-size: min( 2vw, 21px);
            font-size: 4.5vw;
        }
        .login-menu {
            button{
                margin: 0 2vw !important;
            }
            .vLine {
                display: none;
            }
        }
    }
}