@media screen and (max-width: 1200px) {
    .App-header{
        margin: 0 3vw;
    }
}


@media screen and (max-width: 768px) {
    .App-header {
        display: flex;
        padding: 20px 0;
        margin: 0;
        height: auto;
        .pageMenu{
            display: none;

        }
        .Title-Page{
            font-size: clamp(16px, 3vw, 18px);
        }
        .login-menu {
            button{
                margin: 0 2vw !important;
            }
            .vLine {
                display: none;
            }
        }
    }
}