.createPassword{
    .modal-wrapper {
        height: 339px;
        .passwordWrapper {
          display: flex;
          justify-content: space-between;
          text-align: start;
          margin: 100px 0 30px;
          .password{
            .passwordTitle{
                h5{
                    color: var(--main-text-color);
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }
            .enterPassword {
                padding-left: 5px;
                input{
                    display: inline-flex;
                    padding: 13px 19px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 50px;
                    border: 1px solid var(--border-color);
                    background: var(--thumb-border-color);
                }
              }

          }
          
        }
      
    }
}