.createPassword{
    .modal-wrapper {
        height: 339px;
        width: 440px;
        padding: 0 100px;
        .modalTitle {
          display: none;
        }
        .passwordWrapper {
          display: flex;
          justify-content: space-evenly;
          text-align: start;
          margin: 77px 0 30px;
          .password{
            width: auto;
            // position: relative;
            // margin-bottom: 10px;
            .passwordTitle{
                h5{
                    color: var(--main-text-color);
                    font-family: Inter;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding-left: 0px;
                    margin-bottom: 9px;
                }
                .confirmPass{
                    padding-left: 0;
                }
            }
            .enterPassword {
                padding-left: 5px;
                position: relative;
                right: 5px;

                input{
                    display: inline-flex;
                    padding: 13px 19px ;
                    align-items: center;
                    gap: 10px;
                    border-radius: 50px;
                    border: 1px solid var(--border-color);
                    background: #ffffff;
                    line-height: 10px;


                }
                input::placeholder{
                    padding-left: 0px;
                    color: var(--grey);
                    font-family: var(--font-inter);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                }
              }

          }



        }
        .errorMessage {
            position: relative;
            text-align: center;
            top: 15px;
            // margin-bottom: 10px;
        }
        .defaultBtn{
            margin: 0 auto;
          }

    }
}
@import './MediaCreatePassword.scss'