@media screen and (max-width: 768px) {

    .createPassword{


        .modal-wrapper {
          .modalTitle{
            display: block;
            padding: 0vh 0 5vh;
            position: relative;
            bottom: 4px;
          }
          .passwordWrapper {
            flex-direction: column;
            margin: 0;
            position: relative;
            bottom: 9px;
          .password{
            .passwordTitle {
              display: none;
            }
            .enterPassword {
                // padding-bottom: 1.5vh;
                min-height: 8.5vh;
              input{
                width: clamp(290px, 80vw, 650px);
              }
            }
          }
        }
        .defaultBtn{
            position: relative;
            top: 3px;
        
        }
        }
        
    }
    
}