.thumbItemWrapper{
    .thumbItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 474px;
        border-radius: 26px;
        background: var(--Extra-Background, #F8F7F4);
        margin: 0 auto;
        .thumbImg{
            border-radius: 16px;
            overflow: hidden;

            img{


            }
        }
    }
    .userBlock{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0 10px;
    }

    .userAvatar {
        border-radius: 50%;
        margin-right: 6px;
    }
}