.successSupportReq {
    .successWrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 531px;
        height: 120px;
        padding: 34px 65px;
        border-radius: 10px;
        background: var(--white);
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);

        .description {
            color: var(--main-text-color);
            font-family: var(--font-inter);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 51.358px; /* 256.791% */
        }
    }
}
