.paymentPage, .billingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    padding: 119px 0;

    .paymentPageWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      .backBtn {
        align-self: flex-start;
        padding: 11px 19px;
          span{
            padding-left: 10px;
            color: var(--grey);
            font-family: var(--font-inter);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
      }
      .closeBtn {
        display: none;
      }
      .modalTitle {
        padding: 66px 0 71px;
            h2{
                color: var(--main-text-color);
                font-family: var(--font-inter);
                font-size: 58px;
                font-style: normal;
                font-weight: 500;
                line-height: 46.176px; /* 88.549% */
                text-transform: uppercase;
                margin: 0;

            }

      }

      .formWrapper{
        display: grid;
        grid-template-columns: 1fr 481px;
        grid-column-gap: 58px;
        text-align: start;
        width: -webkit-fill-available;
        position: relative;
        top: 3px;
        width: 100%;

        .form-group {
          margin-bottom: 20px;

          &-wrapper {
            position: relative;
          }
        }

        input{
            border-radius: 50px;
            border: 1px solid var(--border-color);
            background: #ffffff;
            padding: 13px 19px;
            width: calc(100% - 40px);
        }
        input::placeholder{
            color: var(--grey);
            text-align: center;
            font-family: var(--font-inter);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: start;
        }
        h4{
            text-align: start;
            color: var(--main-text-color);
            font-family: var(--font-inter);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .nameDetails{
            border-right: 1px solid var(--border-color);
            padding-right: 60px;

            .name{
                display: flex;

                .nameItem {
                    width: -webkit-fill-available;

                    & + .nameItem {
                      margin-left: 15px;
                    }
                }
            }

            .cardNumber {
                position: relative;
                margin-bottom: 20px;

                .description {
                  position: absolute;
                  top: 50%;
                  right: 12px;
                  transform: translate(0, -50%);

                }

            }
            .date {
                display: flex;

                .dateItem {
                    width: -webkit-fill-available;

                    & + .dateItem {
                        margin-left: 15px;
                    }
                }
            }

            .secureCode {
              input {
                max-width: 140px;
              }
            }
        }
        .addressDetails {
          .country{
            input{
              background: #ffffff;
            }
            input::placeholder{
                color: var(--main-text-color);
            }
          }
          .zipCode {
            display: flex;

            .code{
                width: -webkit-fill-available;

                & + .code {
                  margin-left: 15px;
                }

                h4{
                  color: var(--main-text-color);
                  font-family: var(--font-inter);
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                }
            }
          }
        }

      }

      .buttonWrapper {
        display: flex;
        width: -webkit-fill-available;
        justify-content: flex-end;
        margin-top: 33px;
        .cancelBtn{
            .defaultBtn{
                width: 85px;
                background-color: transparent;
                color: var(--grey);
                margin: 0;
            }
        }
        .paymentBtn {
            .defaultBtn{
                width: 135px;
                white-space: nowrap;
                margin: 0;
            }
        }
      }
    }
}