@media screen and (max-width: 768px) {
    .App-footer {
        height: auto;
        background-color: #fff;

        .container {
            .top-footer {
                margin-bottom: 0;
                height: auto;
              .logoWrapper {
                .logo {
                    .footerTitle{
                        font-size: 18px;
                        line-height: inherit;
                        margin-bottom: 15px;
                    }
                }
              }
            }
            .footer-wrapper {
                padding: 15px 0 20px;
                hr{
                    display: none;
                }
                .bottom-footer {
                    justify-content: space-between;
                    .buttonWrapper {
                        width: -webkit-fill-available;

                        button {
                            color: #9E9E9E;
                        }
                    }
                }
            }
        }
    }
}