@media screen and (max-width: 1200px) {
    .searchFilterWrapper {
        margin: 0 5vw 40px;

        .filter {
          .filterPopupContainer {
            grid-row-gap: 30px;
            grid-template-columns: 1fr;
            grid-auto-rows: min-content;
            align-items: flex-start;
          }
        }
    }
}
@media screen and (max-width: 768px) {
    .searchFilterWrapper {
        margin: 0 0 20px 0;
        .search {
            text-align: start;
            flex-shrink: 0;
            width: fit-content;
            .searchDesktop {
                display: none;
                input{
                    width: 35%;
                  }
            }
            .searchMobile {
                display: block;
                background-image: url('../../assets/images/searchMobileBtn.svg');
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                padding: 8px;
                background-position: center center;
                border: 1px solid var(--border-color);
                border-radius: 50%;

            }

          .arrowBtn {
            display: inline-block;
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            right: 55%;
          }
        }
        .filter {
          flex-shrink: 0;
        }

        .filterPopup {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .filterPopupContainer {
            width: 100%;
            grid-template-columns: 1fr;
            padding: 60px 35px 35px 35px;
            .closeBtn {
              display: block;
              position: absolute;
              top: 30px;
              right: 30px;
            }

            .categoryWrapper {
              grid-template-columns: 1fr;
            }

            .category {
              width: calc(100% - 38px);
              gap: 0;
            }
          }
        }
    }
}